<footer id="footer" style="display: flex; justify-content: space-between; padding: 0 3%; padding-top: 2%; background-color: white; color: #313336; border-top: 2px solid rgb(222, 221, 221)">
    <div>
        <h3>Made with <span style="color: red;">&#x2764;</span> by <span style="color: rgb(70, 70, 230);">Ajay Dudave</span></h3>
    </div>
    <div style="display: flex; align-items: center; margin-top: -20px;">
        <img src="/img/logo1.png" alt="life logo" height="100%" width="10%" style="margin-left: 35%;">
        <h1 style="margin-left: 2%; margin-top: 2%;">Life</h1>
    </div>
    <div>
        <h3>Login <span style="padding: 0 10px;">Sign up</span> <span style="padding: 0 10px;">Feed</span> <span style="padding: 0 10px;">Settings</span></h3>
    </div>
</footer>
