<header id="header">
    <div>
            <img src="/img/logo1.png" alt="life logo" height="6%" width="6%" style="margin-right: 10px;">
            <h1 style="padding-top: 2%;">Life</h1>
            <input id="h-search-bar" type="search" class="h-form-control" placeholder="Search" aria-label="Search" autocomplete="off">
            <% if(locals.user) {%>
            <button type="button" class="h-button" data-toggle="modal" data-target="#post-modal" id="post-modal-trigger">+ Create Post</button>
            <%} %>
    </div>
</header>